@font-face {
    font-family: Digestive;
    src: url(Fonts/DigestiveTwo.otf);
}

@font-face {
    font-family: Sporting;
    src: url(Fonts/SportingGrotesque-Regular.otf);
}

@keyframes home {
    0% {background-image: url(images/menu/home/H1.svg);}
    20% {background-image: url(images/menu/home/H2.svg);}
    40% {background-image: url(images/menu/home/H3.svg);}
    60% {background-image: url(images/menu/home/H4.svg);}
    80% {background-image: url(images/menu/home/H5.svg);}
    100% {background-image: url(images/menu/home/H6.svg);}
}

@keyframes full_home {
    0% {background-image: url(images/menu/home/HF1.svg);}
    20% {background-image: url(images/menu/home/HF2.svg);}
    40% {background-image: url(images/menu/home/HF3.svg);}
    60% {background-image: url(images/menu/home/HF4.svg);}
    80% {background-image: url(images/menu/home/HF5.svg);}
    100% {background-image: url(images/menu/home/HF6.svg);}
}


html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Sporting;
    color: white;
}



/*              ESTRUTURA                */




#main-container {
    width: 100vw;
    max-width: 1600px;
    height: 100vw;
    position: relative;
    
}

.contents {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
}

.list {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;

}

.home {
    position: absolute;
    width: 400px;
    height: 10vh;
    animation: home 3000ms steps(1) infinite;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    align-self: center;
    right: 1rem;
}

.home:hover {
    animation: full_home 3000ms steps(1) infinite;
}



/*              CONTEUDOS               */

.m-title {
    display: none;
}

.title1 {
    top: 28vh;
    left: -26vh;
}

.title2 {
    top: 31vh;
    left: -28vh;
    line-height: 14vh;
}

.title3 {
    top: 10vh;
    left: -10vh;
}

.title4 {
    line-height: 14vh;
    top: 28vh;
    left: -25vh;
}

.title5 {
    top: 16vh;
    left: -15vh;
}

.title6 {
    top: 7vh;
    left: -6vh;
}

.title7 {
    top: 6vh;
    left: -5vh;
}

.title8 {
    top: 12vh;
    left: -11vh;
}

.title9 {
    top: 23vh;
    left: -21vh;
    line-height: 14vh;
}

.title10 {
    top: 17vh;
    left: -17vh;
}

.title1, 
.title2, 
.title3, 
.title4, 
.title5, 
.title6, 
.title7, 
.title8, 
.title9, 
.title10 {
    position: absolute;
    font-family: Digestive;
    transform: rotate(90deg);
    font-size: 15vh;
    margin-left: 0px;
    text-transform: lowercase;
    letter-spacing: 0.25rem;
}


.sinopse {
    margin-top: 3rem;
    margin-left: 17vh;
    font-size: 1rem;
    line-height: 1.rem;
    width: 30vw;
}

.sinopse2 {
    margin-top: 3rem;
    margin-left: 30vh;
    font-size: 1rem;
    width: 30vw;
}


.imagens {
    width: 60vw;
    height: 85vh;
    margin-top: 1rem;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}



/*          IMG 1           */




.img1-1, 
.img1-2, 
.img1-3, 
.img1-4, 
.img1-5, 
.img1-6, 
.img1-7, 
.img1-8, 
.img1-9, 
.img1-10, 
.img1-11, 
.img1-12, 
.img1-13 {
    position: absolute;
    width: 150px;
    height: auto;
    transition: width 200ms ease-in-out;
}

.img1-1:hover, 
.img1-2:hover, 
.img1-3:hover, 
.img1-4:hover, 
.img1-5:hover, 
.img1-6:hover, 
.img1-7:hover, 
.img1-8:hover, 
.img1-9:hover, 
.img1-10:hover, 
.img1-11:hover, 
.img1-12:hover, 
.img1-13:hover {
    width: 300px;
    z-index: 50;
}

.img1-1 {
    bottom: 10vw;
    right: 15vw;
    z-index: 1;
}
.img1-2 {
    bottom: 16vw;
    right: 30vw;
    z-index: 2;
}
.img1-3 {
    top: 10vw;
    left: 3vw;
    z-index: 3;
}
.img1-4 {
    bottom: 2vw;
    right: 40vw;
    z-index: 4;
}
.img1-5 {
    top: 2vw;
    right: 10vw;
    z-index: 5;
}
.img1-6 {
    bottom: 5vw;
    left: 15vw;
    z-index: 6;
}
.img1-7 {
    bottom: 2vw;
    right: 4vw;
    z-index: 7;
}
.img1-8 {
    top: 0vw;
    left: 25vw;
    z-index: 8;
}
.img1-9 {
    bottom: 12vw;
    left: 27vw;
    z-index: 9;
}
.img1-10 {
    bottom: 2vw;
    right: 40vw;
    z-index: 10;
}
.img1-11 {
    top: 10vw;
    right: 0vw;
    z-index: 11;
}
.img1-12 {
    bottom: 0vw;
    right: 20vw;
    z-index: 12;
}
.img1-13 {
    top: 2vw;
    right: 40vw;
    z-index: 13;
}




/*          IMG 2           */




.img2-1, 
.img2-2, 
.img2-3, 
.img2-4, 
.img2-5, 
.img2-6, 
.img2-7, 
.img2-8, 
.img2-9, 
.img2-10, 
.img2-11, 
.img2-12, 
.img2-13 {
    position: absolute;
    width: 250px;
    height: auto;
    transition: width 200ms ease-in-out;
}

.img2-1:hover, 
.img2-2:hover, 
.img2-3:hover, 
.img2-4:hover, 
.img2-5:hover, 
.img2-6:hover, 
.img2-7:hover, 
.img2-8:hover, 
.img2-9:hover, 
.img2-10:hover, 
.img2-11:hover, 
.img2-12:hover, 
.img2-13:hover {
    width: 500px;
    z-index: 50;
}

.img2-1 {
    bottom: 10vw;
    right: 2vw;
    z-index: 1;
}
.img2-2 {
    bottom: 16vw;
    left: 5vw;
    z-index: 2;
}
.img2-3 {
    top: 2vw;
    left: 2vw;
    z-index: 3;
}
.img2-4 {
    bottom: 6vw;
    left: 1vw;
    z-index: 4;
}
.img2-5 {
    top: 2vw;
    right: 3vw;
    z-index: 5;
}
.img2-6 {
    bottom: 10vw;
    left: 10vw;
    z-index: 6;
}
.img2-7 {
    bottom: 2vw;
    right: 8vw;
    z-index: 7;
}
.img2-8 {
    top: 0vw;
    left: 15vw;
    z-index: 8;
}
.img2-9 {
    bottom: 20vw;
    left: 20vw;
    z-index: 9;
}
.img2-10 {
    bottom: 1vw;
    left: 15vw;
    z-index: 10;
}
.img2-11 {
    top: 10vw;
    right: 0vw;
    z-index: 11;
}
.img2-12 {
    bottom: 8vw;
    left: 22vw;
    z-index: 12;
}
.img2-13 {
    top: 4vw;
    right: 12vw;
    z-index: 13;
}



/*              LISTA                */



a, a:visited {
    padding: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
    font-family: Digestive;
    font-size: 4em;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.05rem white;
    text-decoration: none;
    line-height: 5rem;
} 

a:hover, a:active {
    -webkit-text-stroke: 0rem white;
    color: white;
}

.selected {
    color: white; 
    -webkit-text-stroke: 0rem white;
}



































/*         MEDIA QUERY       */





@media only screen and (max-width:400px) {


    html, body {
        margin: 0; 
        height: auto; 
        overflow: auto;
    }
    
    body {
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: black;
        font-family: Sporting;
        color: white;
    }



    #main-container {
        width: 100%;
        height: 100%;
        background-position: left;
        display: flex;
        animation: R-background 3000ms steps(1) infinite; 
        position: relative;
    }

    
    .list {
        width: 1.2rem;
        position: absolute;
        left: 0px;
        height: 100vh;
        align-self: flex-start;
        flex-direction: column;
        /* background-color: red; */
    }

    a, a:visited {
        padding: 0rem 0rem 0rem 4rem;
        font-size: 7vh;
        line-height: 8vh;
    } 

    .one {
        margin-top: 5rem;
    }


  /*              ESTRUTURA                */


.home {
    position: fixed;
    width: 100%;
    height: 10vh;
    animation: home 3000ms steps(1) infinite;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-self: center;
    right: 0px;
    background-color: black;
    z-index: 20;
}

.contents {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20vw;
    margin-left: 5rem;
}



.home:hover {
    animation: home 3000ms steps(1) infinite;
}

.home:active {
    animation: full_home 3000ms steps(1) infinite;
}


.sinopse {
    margin-top: 2rem;
    margin-left: 0rem;
    font-size: 0.8rem;
    line-height: 1.3rem;
    width: 70vw;
}

.sinopse2 {
    margin-top: 2rem;
    margin-left: 0rem;
    font-size: 0.8rem;
    width: 70vw;
}

.title1, 
.title2, 
.title3, 
.title4, 
.title5, 
.title6, 
.title7, 
.title8, 
.title9, 
.title10 {
    display: none;

}


.m-title {
    display: block;
    margin-top: 1.5rem;
    font-family: Digestive;
    font-size: 13vw;
    letter-spacing: 0.05rem;
    margin-left: 0rem;
    text-transform: lowercase;
}



/*              IMAGENS          */




.imagens {
    width: 58vw;
    height: auto;
    margin-top: 1rem;
    position: relative;
    padding: 0rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

/*          IMG 1           */




.img1-1, 
.img1-2, 
.img1-3, 
.img1-4, 
.img1-5, 
.img1-6, 
.img1-7, 
.img1-8, 
.img1-9, 
.img1-10, 
.img1-11, 
.img1-12, 
.img1-13 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0vw;
    bottom: 0vw;
    left: 0vw;
    right: 0vw;
    z-index: 0;
    transition: width 200ms ease-in-out;
}

.img1-1:hover, 
.img1-2:hover, 
.img1-3:hover, 
.img1-4:hover, 
.img1-5:hover, 
.img1-6:hover, 
.img1-7:hover, 
.img1-8:hover, 
.img1-9:hover, 
.img1-10:hover, 
.img1-11:hover, 
.img1-12:hover, 
.img1-13:hover {
    width: 100%;
    z-index: 0;
}


/*          IMG 2           */


.img2-1, 
.img2-2, 
.img2-3, 
.img2-4, 
.img2-5, 
.img2-6, 
.img2-7, 
.img2-8, 
.img2-9, 
.img2-10, 
.img2-11, 
.img2-12, 
.img2-13 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0vw;
    bottom: 0vw;
    left: 0vw;
    right: 0vw;
    z-index: 0;
}

.img2-1:hover, 
.img2-2:hover, 
.img2-3:hover, 
.img2-4:hover, 
.img2-5:hover, 
.img2-6:hover, 
.img2-7:hover, 
.img2-8:hover, 
.img2-9:hover, 
.img2-10:hover, 
.img2-11:hover, 
.img2-12:hover, 
.img2-13:hover {
    width: 100%;
    z-index: 0;
}




















}