@font-face {
    font-family: Digestive;
    src: url(Fonts/DigestiveTwo.otf);
}

@keyframes background {
    0% {background-image: url(images/background/1.svg);}
    20% {background-image: url(images/background/2.svg);}
    40% {background-image: url(images/background/3.svg);}
    60% {background-image: url(images/background/4.svg);}
    80% {background-image: url(images/background/5.svg);}
    100% {background-image: url(images/background/6.svg);}
}

@keyframes R-background {
    0% {background-image: url(images/background/R1.svg);}
    20% {background-image: url(images/background/R2.svg);}
    40% {background-image: url(images/background/R3.svg);}
    60% {background-image: url(images/background/R4.svg);}
    80% {background-image: url(images/background/R5.svg);}
    100% {background-image: url(images/background/R6.svg);}
}



html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: black;
}

#main-container {
    width: 100vw;
    max-width: 1600px;
    height: 100vw;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    animation: background 3000ms steps(1) infinite;

    
}

.nothing {
    width: 100%;
    height: 80vh;
}

.list {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

a, a:visited {
    padding: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
    font-family: Digestive;
    font-size: 8em;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.05rem white;
    text-decoration: none;
    line-height: 5rem;
} 

a:hover, a:active {
    color: white;
}

.one::before, 
.two::before, 
.three::before, 
.four::before, 
.five::before, 
.six::before, 
.seven::before, 
.eight::before, 
.nine::before, 
.ten::before {
    content: "";
    position: absolute;
    z-index: -2;
    transform: scale(0);
}

.one:hover::before, 
.two:hover::before, 
.three:hover::before, 
.four:hover::before, 
.five:hover::before, 
.six:hover::before, 
.seven:hover::before, 
.eight:hover::before, 
.nine:hover::before, 
.ten:hover::before {
    transform: scale(1);
}

.one::before {
    top: 5vh;
    left: 10vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.two::before {
    top: 20vh;
    right: 10vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.three::before {
    top: 5vh;
    right: 30vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.four::before {
    top: 40vh;
    left: 5vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.five::before {
    top: 5vh;
    left: 0vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.six::before {
    top: 45vh;
    left: 60vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.seven::before {
    top: 35vh;
    left: 33vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.eight::before {
    top: 0vh;
    right: 5vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.nine::before {
    top: 50vh;
    left: 10vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}

.ten::before {
    top: 15vh;
    left: 40vw;
    width: 400px;
    height: 300px;
    background-color: blue;
}






/*         MEDIA QUERY       */





@media only screen and (max-width:300px) {

    #main-container {
        width: 100%;
        height: 100%;
        background-position: left;
        display: flex;
        animation: R-background 3000ms steps(1) infinite; 
    }

    .nothing {
        width: 70%;
        height: 100%;
    }
    
    .list {
        width: 20%;
        height: 100%;
        flex-direction: column;
    }

    a, a:visited {
        padding: 0rem 0rem 0rem 4rem;
        font-size: 5em;
        line-height: 4rem;
    } 

}
